<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>
</head>
<body>
{#user_profile_picture#}


<form action="/blog/test/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="description">description</label>
    <input type="text" name="description" id="description">
    <input type="file" name="user_profile_picture">
    <input type="submit" name="submit" id="">

</form>

</body>
</html>